## BepInEx Configuration File for Block N Load (Unity 5)
## See: https://docs.bepinex.dev/articles/user_guide/troubleshooting.html#unity-5-and-older
## See: https://github.com/BepInEx/BepInEx/discussions/377

[Preloader]

## Specifies which MonoMod backend to use for Harmony patches.
## "cecil" is required for older Mono runtimes (Unity 5 and older) because
## the System.Reflection.Emit implementation is incomplete.
## Setting type: MonoModBackend
## Default value: auto
## Acceptable values: auto, dynamicmethod, methodbuilder, cecil
HarmonyBackend = cecil


[Preloader.Entrypoint]

## Unity 5 and older: The default entry point is too early for BepInEx to
## initialize properly. Using "Camera" type (instead of "MonoBehaviour")
## has been confirmed to work with Unity 5 games (e.g. Yooka-Laylee).
## If this doesn't work, try Type = MonoBehaviour instead.
Assembly = UnityEngine.dll
Type = Camera
Method = .cctor


[Logging]

## Enable Unity log listening for debugging.
UnityLogListening = true


[Logging.Console]

## Enable the console to see load progress and errors live.
Enabled = true

## Prevents console from closing instantly on error (useful for debugging).
PreventClose = true


[Logging.Disk]

## Write logs to disk.
Enabled = true
